<section class="container">
				<div class="row clearfix">
					<!--slider-->
					<section class="col-lg-9 col-md-9 col-sm-9 m_xs_bottom_30">
							<h2 class="tt_uppercase color_dark m_bottom_25">Cart</h2>
							<!--cart table-->
							<table class="table_type_4 responsive_table full_width r_corners wraper shadow t_align_l t_xs_align_c m_bottom_30">
								<thead>
									<tr class="f_size_large">
										<!--titles for td-->
										<th>Product Image &amp; Name</th>
										<th>SKU</th>
										<th>Price</th>
										<th>Quantity</th>
										<th>Subtotal</th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="object in cart" id="{{object.product.id}}">
										<!--Product name and image-->
										<td data-title="Product Image &amp; name" class="t_md_align_c">
											<img src="images/product/{{object.product.image}}" alt="" class="m_md_bottom_5 d_xs_block d_xs_centered" width="45%">
											<a href="#" class="d_inline_b m_left_5 color_dark">{{object.product.name}}</a>
										</td>
										<!--product key-->
										<td data-title="SKU">PS{{object.product.id}}</td>
										<!--product price-->
										<td data-title="Price">
											<p class="f_size_large color_dark">{{object.product.price | currency}}</p>
										</td>
										<!--quantity-->
										<td data-title="Quantity">
											<div class="clearfix quantity r_corners d_inline_middle f_size_medium color_dark m_bottom_10">
												<button class="bg_tr d_block f_left" data-direction="down" data-ng-click="decreaseQuantity(object.product.id)">-</button>
												<input type="text" name="" readonly value="{{object.quantity}}" class="f_left">
												<button class="bg_tr d_block f_left" data-direction="up" data-ng-click="incrementQuantity(object.product.id)">+</button>
											</div>
											<div>
												<a class="color_dark"><i class="fa fa-check f_size_medium m_right_5"></i>Update</a><br>
												<button data-ng-click="removeProduct(object.product.id)"><i class="fa fa-times f_size_medium m_right_5"></i>Remove</button><br>
											</div>
										</td>
										<!--subtotal-->
										<td data-title="Subtotal">
											<p class="f_size_large fw_medium scheme_color">{{object.quantity*object.product.price| currency}}</p>
										</td>
									</tr>
									<!--total-->
									<tr>
										<td colspan="4" class="v_align_m d_ib_offset_large t_xs_align_l">											
											<p class="fw_medium f_size_large t_align_r scheme_color p_xs_hr_0 d_inline_middle half_column d_ib_offset_normal d_xs_block w_xs_full t_xs_align_c">Total:</p>
										</td>
										<td colspan="1" class="v_align_m">
											<p class="fw_medium f_size_large scheme_color m_xs_bottom_10" >{{getTotal() | currency}}</p>
										</td>
									</tr>
								</tbody>
							</table>

						</section>
					<!--Side-banners-->
					<div class="col-lg-3 col-md-3 col-sm-3 t_xs_align_c s_banners">
						<a href="#" class="d_block d_xs_inline_b m_bottom_20 animate_ftr">
							<img src="images/side-banner/side-banner1.jpg" alt="">
						</a>
						<a href="#" class="d_block d_xs_inline_b m_xs_left_5 animate_ftr m_mxs_left_0">
							<img src="images/side-banner/side-banner2.jpg" alt="">
						</a>
					</div>
					<div class="clearfix">&nbsp;</div>
				</div>
				
	
			</section>

<h2 class="tt_uppercase color_dark m_bottom_25">Payment Details</h2>
	<section class="photoframe col-lg-9 col-md-9 col-sm-9 m_xs_bottom_30 ">
		<div class="row clearfix">
			<div class="col-sm-6 col-md-8">
				<div class="panel panel-default col-md-offset-3">
					<div class="panel-body">
				
						<form class="form-horizontal" name="paymentForm" id="checkout" novalidate="novalidate"
							method="post">
							<div class="row">
								<div class="col-xs-10 col-sm-offset-1">
									<div class="form-group">
										<label for="cardholder_name" class="control-label">Card
											Holder Name</label> 
											<div>
											<input class="form-control" name="cardholderName"
											ng-model="paymentDetail.cardholderName"
											data-braintree-name="cardholder_name"
											placeholder="Enter Card Holder Name"
											required="required"><span
											ng-show="paymentForm.cardholderName.$dirty && paymentForm.cardholderName.$error"
											style="color: red;"><span
											ng-show="paymentForm.cardholderName.$error.required">Card Holder Name is
											required!</span></span>
											</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-10 col-sm-offset-1">
									<div class="form-group">
										<label for="number" class="control-label">Card Number</label>
										<div class="input-group">
										<input class="form-control" name="number" type="text"
											ng-model="paymentDetail.number"
											data-braintree-name="number"
											data-ng-pattern="/^3(?:[47]\d([ -]?)\d{4}(?:\1\d{4}){2}|0[0-5]\d{11}|[68]\d{12})$|^4(?:\d\d\d)?([ -]?)\d{4}(?:\2\d{4}){2}$|^6011([ -]?)\d{4}(?:\3\d{4}){2}$|^5[1-5]\d\d([ -]?)\d{4}(?:\4\d{4}){2}$|^2014\d{11}$|^2149\d{11}$|^2131\d{11}$|^1800\d{11}$|^3\d{15}$/"
											required="required" placeholder="Enter Card Number">
											<span class="input-group-addon"><i class="fa fa-credit-card"></i></span>											
										</div>
											<span ng-show="paymentForm.number.$dirty && paymentForm.number.$error"
											style="color: red;"><span
											ng-show="paymentForm.number.$error.required">Card Number is
											required!</span><span ng-show="paymentForm.number.$error.pattern">Invalid
											Card Number!</span></span>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-5 col-sm-offset-1">
									<div class="form-group">
										<label for="expiration_date" class="control-label">Expiration
											Date</label>
										<div>
											<input class="form-control" name="expirationDate"
												ng-model="paymentDetail.expirationDate"
												data-ng-pattern="/^((0[1-9])|(1[0-2]))[\/\.\-]*((1[5-9])|(2[0-5]))$/"
												data-braintree-name="expiration_date" required="required"
												placeholder="MM / YY"><span ng-show="paymentForm.expirationDate.$dirty && paymentForm.expirationDate.$error"
												style="color: red;"><span
												ng-show="paymentForm.expirationDate.$error.required">Expiration Date is
												required!</span><span ng-show="paymentForm.expirationDate.$error.pattern">Invalid
												Expiration Date!</span></span>
										</div>
									</div>
								</div>
								<div class="col-xs-4 col-sm-offset-1">
									<div class="form-group">
										<label for="cvv" class="control-label">CVV Number</label>
										<div>
											<input class="form-control" name="cvv"
												ng-model="paymentDetail.cvv" required="required"
												data-braintree-name="cvv"
												data-ng-pattern="/^[0-9]{3,4}$/"
												placeholder="Enter CVV Number">
												<span ng-show="paymentForm.cvv.$dirty && paymentForm.cvv.$error"
												style="color: red;"><span
												ng-show="paymentForm.cvv.$error.required">CVV Number is
												required!</span><span ng-show="paymentForm.cvv.$error.pattern">Invalid
												CVV Number!</span></span>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-5 col-sm-offset-1">
									<div class="form-group">
										<label for="postal_code" class="control-label">Postal
											Code</label> <input class="form-control" name="postalCode"
											ng-model="paymentDetail.billingAddress.postalCode" required="required"
											data-ng-pattern="/^([1-9]{2}|[0-9][1-9]|[1-9][0-9])[0-9]{3}$/"
											data-braintree-name="postal_code"
											placeholder="Enter Postal Code">
											<span ng-show="paymentForm.postalCode.$dirty && paymentForm.postalCode.$error"
											style="color: red;"><span
											ng-show="paymentForm.postalCode.$error.required">CVV Number is
											required!</span><span ng-show="paymentForm.postalCode.$error.pattern">Invalid
											Postal Code!</span></span>
									</div>
								</div>
							</div>
							
							
							
							<div class="action">
								<input class="button_type_4 r_corners bg_light_color_2 mw_0 tr_all_hover color_dark submit col-sm-offset-7" type="submit" id="submit"
								ng-click="pay()" ng-disabled="!paymentForm.$valid"
								value="Pay">
							
							</div>
							
						</form>
						</div>
					</div>	
			</div>			
		</div>
	</section>
